body {
  font-family: 'Noto Serif SC', serif;
}

table {
  background-color: #002f56;
  width: 100%;
}

td {
  border-spacing: 0;
  border-color: black;
  padding: 5px;
}

.header {
  background-color: #002f56;
  color: #ffffff;
}

.headers {
  border: 3px solid;
  border-color: black;
}

.cells {
  border: 2px solid;
  background-color: #00a69c;
}

.cells-contrast {
  border: 2px solid;
  background-color: #006570;
}

.category {
  font-weight: bolder;
}

.submit-btn {
  margin-left: 92.5%;
}
